@page "/movies"
@using MovieDB.Shared
@using MovieDB.Client.Components
@inject HttpClient Http

<h1>Movie DB</h1>


Movie List using Components and Server API
<div>
    <div class="row">
        <div class="col mt-3">
            <button class="btn btn-primary" @onclick="AddMovie">Add Movie</button>
        </div>
    </div>
    <div class="row">
        <MovieDisplay movies="@movies" OnEditEvent="@EditMovie" OnDeleteEvent="@DeleteMovie" />
        @if (ShowMovieForm)
        {
        <MovieAddedit movie="@movieForm" IsNewMovie="@IsNewMovie" OnSaveEvent="@SaveMovie" OnCancelEvent="@HideMovieModal" />
        }
    </div>
</div>

@code {

    List<Movie> movies = new List<Movie>();
    private bool ShowMovieForm { get; set; } = false;
    private bool IsNewMovie { get; set; } = false;
    private bool ShowMovieFormAlert { get; set; } = false;
    private Movie movieForm { get; set; } = new Movie();

    protected override async Task OnInitializedAsync()
    {
        movies = await Http.GetFromJsonAsync<List<Movie>>("api/Movies");
    }
    protected async Task UpdateMovieAPI(Movie movie)
    {
        await Http.PutAsJsonAsync("api/Movies/" + movie.Id, movie);
    }
    protected async Task AddMovieAPI(Movie movie)
    {
        await Http.PostAsJsonAsync("api/Movies", movie);
    }
    protected async Task DeleteMovieAPI(Movie movie)
    {
        await Http.DeleteAsync("api/Movies/" + movie.Id);
    }

    void AddMovie()
    {
        movieForm = new Movie();
        IsNewMovie = true;
        ShowMovieModal();
    }
    void EditMovie(Guid movieId)
    {
        var mymovie = movies.FirstOrDefault(x => x.Id == movieId);
        movieForm = new Movie { Id = mymovie.Id, Title = mymovie.Title, Year = mymovie.Year, Director = mymovie.Director, Description = mymovie.Description };
        IsNewMovie = false;
        ShowMovieModal();
    }
    async Task DeleteMovie(Movie movie)
    {
        movies.Remove(movie);
        await DeleteMovieAPI(movie);
    }

    async Task SaveMovie()
    {
        if (IsNewMovie)
        {
            movies.Add(movieForm);
            await AddMovieAPI(movieForm);
        }
        else
        {
            var movieIndex = movies.FindIndex(x => x.Id == movieForm.Id);
            movies.RemoveAt(movieIndex);
            movies.Insert(movieIndex, movieForm);
            await UpdateMovieAPI(movieForm);
        }
        HideMovieModal();
    }

    void ShowMovieModal()
    {
        ShowMovieFormAlert = false;
        ShowMovieForm = true;

    }
    void HideMovieModal()
    {
        ShowMovieForm = false;
    }
}